{% set creator = cli.get_user(data.creator_id) %}
{% set rageshake = data.description.startswith("### User message:") and "Data from app:" in data.description %}
{% if rageshake %}<details><summary>{% endif %}
<a href="{{ creator.url }}">{{ creator.display_name }}</a> created
issue <a href="{{ url }}">{{ data.team.key }}-{{ data.number }}</a>: {{ data.title|e }}
{% if rageshake %}</summary>{% endif %}
{% if data.description %}
    <blockquote>
        {{ data.description | markdown }}
    </blockquote>
{% endif %}
{% if rageshake %}</details>{% endif %}
